<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <title>
      CF What?
    </title>
    <link href='style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='content'>
      <h1>CF What?</h1>
      <form accept-charset='utf-8' action='/' class='new_shorty' id='new_shorty' method='post'>
        <label for='username'>Enter your search term:</label>
        <input id='term'   name='term'     size='30' type='text' value='' />
        <input id='submit' type='submit' value='CF What? &rarr;' />
      </form>
    </div>
  </body>
</html>
