<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <title>
      What the <%= @term %>?
    </title>
    <link href='style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='content'>
      <h1>What the <em><%= @term %></em>?</h1>
      <% @results.sort_by { |who, how_many| -how_many }.each do |who, how_many| %>
        <%= who %>: <%= how_many %> mentions<br/>
      <% end %>
    </div>
  </body>
</html>

